.ratio {
  width: 32.33333333% !important;
  height: 320px;
}

.songs>div>img {
  z-index: 10000000000;
}

.songs>div:hover::after {
  content: url('./../../../public/assets/play.png');
  width: 0;
  height: 0;
  position: relative;
  top: -50%;
  left: 0;
}